$margin : 10px;

$accent: #ff5815;
$light-grey: #c5c3c3;
$dim-grey:#a6a4a2;
$dark-grey: #313131;
$grey: #a9a9a9;
$white: #c5c0bf;

@mixin depth{
    border: rgba(0, 0, 0, 0.13) 1px solid;
    border-bottom: rgba(0, 0, 0, 0.2) 3px solid;
    margin-bottom: -5px;
    //outline: rgba(0, 0, 0, 0.24) 1px solid;
}

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: fit-content;
    margin: 50px auto auto;
    font-family: Calibri ,Serif;
    font-weight: lighter;
    font-size: 3em;
    color: #333;
    background: linear-gradient(to bottom, #e0e0e0, $white);
    height: 100vh;
    overflow: hidden;
}
.container{
    background: $grey;
    border-radius: 4px;
    padding: 20px;
    display: grid;
    grid-template-areas:    " dsp rst "
                            " nums ops ";
    grid-template-rows: 2fr 8fr;
    grid-template-columns: 4fr 1fr;
    gap: $margin;
    max-height: 90vh;
    max-width: 40vw;
    aspect-ratio: 1;
    //outline: red solid 1px;
    @include depth;
}
.grid{
    display: grid;
    gap: $margin;
    &-num{
        height: 100%;
        grid-area: nums;
        grid-template-columns: 1fr 1fr 1fr;

    }
    &-operators{
        font-size: 60%;
        grid-area: ops;
        grid-template-rows: 1fr 1fr 1fr;
    }
    &-display{
        grid-area: dsp;
        grid-template-columns: 4fr 1fr;
        height: fit-content;
        width: 50px;
    }
}

.btn{
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    aspect-ratio: 1;
    border-radius: 4px;
    @include depth;
    position: relative;
    transition: 250ms;
    &-num{
        height: 100%;
        aspect-ratio: auto;
        background: $dark-grey;
        color: $light-grey;

    }
    &-accent{
        background: $accent;
    }
    &-display{
        color: $dark-grey;
        min-width: 0;
        min-height: 0;
        background: transparent;
        margin-right: 10px;
        border: none;
        outline: none;

    }
    &-clear{
        font-size: 60%;
        aspect-ratio: auto;
        @include depth;
        grid-area: rst;
    }
    &:hover{
        filter: brightness(0.8) contrast(1.35);

    }
}
#interface{
    background: $white;
    gap: $margin;
    display: flex;
    flex-flow: column;
    border-radius: 4px;
    @include depth;
    border: none;

}
$ratio: 35%;
#memory,#operator{
    align-self: end;
    aspect-ratio: auto;
    font-size: $ratio;
    flex-basis: $ratio;
    text-align: right;
    width: fit-content;
    display: inline;
}
#display{
    width: 100%;
    align-self: end;
    aspect-ratio: auto;
    text-align: right;
    flex-basis: calc(100% - $ratio);
    font-size: calc(100% - $ratio);
}
.memory-wrapper{
    width: 100%;
    display: flex;
    justify-content: end;
}